<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="workouttrackerprojectEntities" connectionString="metadata=res://*/workout.csdl|res://*/workout.ssdl|res://*/workout.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG8411GBX;initial catalog=workouttrackerproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="workouttrackerprojectEntities1" connectionString="metadata=&quot;res://*/workout model.csdl|res://*/workout model.ssdl|res://*/workout model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG8411GBX;initial catalog=workouttrackerproject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="workouttrackerprojectsEntities" connectionString="metadata=res://*/projectmodel.csdl|res://*/projectmodel.ssdl|res://*/projectmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG8411GBX;initial catalog=workouttrackerprojects;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>